.DoctorModalContent {
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
  }
  
  .DoctorModalHeader {
    font-weight: 800;
  }
  
  .DoctorModalBody label {
    display: flex;
    flex-direction: column;
  }
  
  .DoctorModalBody p {
    font-weight: 600;
  }
  
  .DoctorModalBody input {
    padding: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .DoctorSelectButton {
    background-color: #4d79a9;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .DoctorSelectButton:hover {
    background-color: #416892;
  }
  