.MedicationModalContent {
  padding: 1.5rem;
  border-radius: 20px;
  border: none;
}

.MedicationModalHeader {
  font-weight: 800;
  background-color: #2E3F59;
  color: #ffffff;
}

.MedicationModalBody {
  display: flex;
  flex-direction: column;
}

.MedicationModalBody label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.MedicationModalBody p {
  font-weight: 600;
  margin: 0;
  width: 30%;
}

.MedicationModalBody input {
  background-color: #d1d3d4;
  color: #000000;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.medicationSearchField {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.medicationDisplay {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 200px;
  overflow-y: auto;
}

.medicationItem {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.medicationItem:hover {
  background-color: #e0e0e0;
}

.medicationDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}