.addMedicationProfilePage {
  padding: 20vh 1rem;
}

.addMedicationProfileTitle h3 {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.addMedicationProfileContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.addMedicationInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addMedicationInfoFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.addMedicationInfo label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 50%;
  padding: 0.5rem;
}

.addMedicationInfo p {
  margin: 0;
  font-weight: 600;
  align-items: center;
  width: 25%;
  text-align: left;
}

.addMedicationInfoFields input {
  background-color: #fff;
  color: #000000;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.addMedicationInfoFields select {
  background-color: #fff;
  color: #000000;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.GeneralButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.GeneralButtonContainer button {
  background-color: #4d79a9;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.GeneralButtonContainer button:hover {
  background-color: #416892;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
