.medicationPage {
  padding: 20vh 1rem;
}

.medicationSearchTitle h3 {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.medicationSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.medicationSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
}

.medicationSearchContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.medicationSearchContent h3 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: left;
  margin: 0;
}

.medicationSearchFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 5rem;
}

.medicationSearchContent label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 0;
}

.medicationSearchContainer p {
  margin: 0;
  font-weight: 600;
  align-items: start;
  width: 30%;
  text-align: left;
  font-size: large;
}

.medicationSearchFields input {
  background-color: #ffffff;
  color: #000000;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.75rem;
}

.medicationSearchSep {
  width: 3px;
  background-color: #b3b4b5;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
}

.medicationDisplay {
  display: flex;
  flex-direction: column;
}

.medicationBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 30vw;
  height: 60vh;
  max-height: 60vh;
  background-color: #ffffff;
  border-radius: 20px;
  overflow-y: auto;
}

.medicationItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.medicationItem:hover {
  background-color: #f0f0f0;
}

.medicationItem p:first-of-type {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.medicationItem p:not(:first-of-type) {
  color: #666;
  font-size: 1rem;
  font-weight: 600;
}

.medicationSearchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.medicationSearchButton button {
  background-color: #4d79a9;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.medicationSearchButton button:hover {
  background-color: #416892;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
