.addPrescriberPage {
  padding: 20vh 1rem;
}

.addPrescriberTitle h3 {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.addPrescriberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addPrescriberInfo {
  display: flex;
  flex-direction: column;
}

.addPrescriberInfoFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.addPrescriberInfo label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.addPrescriberInfo p {
  margin: 0;
  font-weight: 600;
  align-items: center;
  width: 25%;
  text-align: left;
}

.addPrescriberInfoFields input {
  background-color: #d1d3d4;
  color: #000000;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.GeneralButtonContainer {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  gap: 25vw;
}

.GeneralButtonContainer button {
  background-color: #4d79a9;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.GeneralButtonContainer button:hover {
  background-color: #416892;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}