.prescriberPage {
  padding: 20vh 1rem;
}

.prescriberSearchTitle h3 {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.prescriberSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.prescriberSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
}

.prescriberSearchContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.prescriberSearchContent h3 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: left;
  margin: 0;
}

.prescriberSearchFields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 600px;
}

.prescriberSearchContent label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 0;
}

.prescriberSearchContainer p {
  margin: 0;
  font-weight: 600;
  width: 30%;
  text-align: left;
  font-size: large;
}

.prescriberSearchFields input {
  background-color: #ffffff;
  color: #000000;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.75rem;
}

.dateIcon {
  position: relative;
  width: 50%;
}

.dateIcon input[type="date"] {
  width: 100%;
  padding-right: 30px;
}

.dateIcon input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

.dateIcon::before {
  content: "";
  position: absolute;
  right: 9.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: #4d79a9;
  border-radius: 5px;
  pointer-events: none;
}

.prescriberSearchSep {
  width: 3px;
  background-color: #b3b4b5;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
}

.prescriberDisplay {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.prescriberBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 30vw;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 20px;
  overflow-y: auto;
}

.prescriberItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.prescriberItem:hover {
  background-color: #f0f0f0;
}


.prescriberItem p:first-of-type {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.prescriberItem p:not(:first-of-type) {
  color: #666;
  font-size: 1rem;
  font-weight: 600;
}

.prescriberSearchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.prescriberSearchButton button {
  background-color: #4d79a9;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.prescriberSearchButton button:hover {
  background-color: #416892;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
