.newRxPage {
  padding: 12vh 0.5rem;
  min-height: 100vh;
}

.rxPageTitle h3 {
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
}

.patientInfo hr, .techInitials hr, .printLabel hr {
  margin: 0;
  width: 100%;
}

.rxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.patientInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.patientInfo h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.patientInfoFields {
  display: flex;
  flex-direction: column;
}

.patientInfo label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.patientInfo p {
  margin: 0;
  font-weight: 600;
  width: 25%;
  text-align: left;
  font-size: large;
}

.printLabel hr {
  margin: 0;
  width: 49vw;
}

.patientInfoFields input {
  background-color: #d1d3d4;
  color: #000000;
  border: none;
  border-radius: 10px;
  width: 50%;
  max-width: 25vw;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.patientInfoFields textarea {
  background-color: #d1d3d4;
  border: none;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 40px;
  min-height: 40px;
  max-height: 60px;
  padding: 0.5rem;
}

.smallInputFields {
  display: flex;
  flex-direction: row;
}

.smallInputFields label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.smallInputFields p {
  margin: 0;
  font-weight: 600;
  width: 35%;
  text-align: left;
  font-size: large;
}

.smallInputFields input {
  background-color: #d1d3d4;
  color: #000000;
  border: none;
  border-radius: 10px;
  width: 50%;
  max-width: 25vw;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.searchImg {
  position: relative;
  width: 50%;
}

.searchImg input {
  width: 100%;
  padding-right: 0.5rem;
}

.searchImg img {
  position: absolute;
  right: 10px;
  top: 20%;
  width: 25px;
  height: 25px;
  background-color: #4d79a9;
  padding: 5px;
  border-radius: 5px;
}

.dateIcon {
  position: relative;
  width: 50%;
}

.dateIcon input[type="date"] {
  width: 100%;
}

.dateIcon input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

.dateIcon::before {
  content: "";
  position: absolute;
  right: 9.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: #4d79a9;
  border-radius: 5px;
  pointer-events: none;
}

.techInitialsContainer {
  display: flex;
  flex-direction: column;
}

.techInitials label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.75rem;
}

.techInitials input {
  width: 15%;
}

.rxPageSep {
  width: 3px;
  height: auto;
  background-color: #d3d4d5;
  margin: 0;
  left: 50%;
  align-self: stretch;
}

.displayPatientInfo {
  margin-top: 0.5rem;
  width: 400px;
  height: 145px;
  border-radius: 20px;
  background-color: #d1d3d4;
  padding: 10px;
  box-sizing: border-box;
  justify-self: center;
  display: block;
  margin-bottom: 2.5rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.displayPatientInfo p {
  display: flex;
}

.printLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
}

.printLabel h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

/* The height is set to a min-height to ensure you can still see a box on the page, 
but height is set to auto to make it responsive to the image that will be appearing in the box. */
.imageBox {
  margin-top: 1rem;
  height: 300px;
  width: 400px;
  border-radius: 20px;
  background-color: #d1d3d4;
  padding: 10px;
  box-sizing: border-box;
  justify-self: center;
  display: block;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.labelButton {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.labelButton button {
  background-color: #4d79a9;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-left: 1rem;
  margin-right: 1rem;
}

.labelButton button:hover {
  background-color: #416892;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
