.addPatientPage {
  padding: 20vh 1rem;
}

.addPatientTitle h3 {
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
}

hr {
  margin: 0;
  border-top: 3px solid #636466;
}

.addPatientContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.addPatient {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.addPatient h3 {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.addPatientFields {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.addPatient label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 1rem;
}

.addPatient p {
  margin: 0;
  font-weight: 600;
  align-items: start;
  width: 25%;
  text-align: left;
  font-size: large;
}

.addPatientFields input {
  background-color: #d1d3d4;
  color: #000000;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.dateIcon {
    position: relative;
    width: 50%;
}

.dateIcon input[type="date"] {
    width: 100%;
}

.dateIcon input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

.dateIcon::before {
  content: "";
  position: absolute;
  right: 9.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: #4d79a9;
  border-radius: 5px;
  pointer-events: none;
}

.addPatientDoctorSearch {
    position: relative;
    width: 50%;
}

.addPatientDoctorSearch input {
    width: 100%;
    padding-right: 1rem;
}

.addPatientDoctorSearch img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-color: #4d79a9;
    padding: 5px;
    border-radius: 5px;
}

.addPatientSep {
  width: 3px;
  height: 100%;
  background-color: #d3d4d5;
  margin: 0;
  position: absolute;
  left: 50%;
}

.addPatientInsurance {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.patientInsurance h3 {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.patientInsuranceFields {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.patientInsurance label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 1rem;
}

.patientInsurance p {
  margin: 0;
  font-weight: 600;
  align-items: start;
  width: 25%;
  text-align: left;
  font-size: large;
}

.patientInsuranceFields input {
  background-color: #d1d3d4;
  color: #000000;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.addPatientButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.addPatientButton button {
  background-color: #4d79a9;
  border: none;
  padding: 0.5rem;
  width: 10vw;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.addPatientButton button:hover {
  background-color: #416892;
}
